<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css.css" rel="stylesheet">
    <title>Document</title>
</head>
<header> 
    <img src="img1.png" alt="drzewo" class="tree">
    <p>Mój layout</p>
</header>
<nav id="link">
    <a href="https://www.onet.pl/">Link1</a>
    <a href="https://www.onet.pl/">Link2</a>
    <a href="https://www.onet.pl/">Link3</a>
</nav>
<main>
    <nav id="table">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </nav>
    <section id="section">
        <article class="artic1">
            <img src="img2.png" alt="face" class="face">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi quam sequi reprehenderit autem nihil maxime illo assumenda, debitis iure omnis vitae vel numquam aspernatur, nam quidem expedita sit cupiditate dolorum optio aliquam consequuntur odio ut nulla tempora. Voluptatum minima temporibus a nobis ducimus necessitatibus repellendus! Optio commodi voluptatem veritatis nemo dolor, explicabo odio omnis tenetur, quisquam itaque, illum aspernatur. Blanditiis, numquam perferendis voluptatum magni corporis expedita ab pariatur iste vitae maxime voluptate a esse vero dicta, voluptatibus culpa, ad praesentium. Laboriosam facilis debitis mollitia non? Aliquam dolorum nesciunt tempore, blanditiis non at nam aperiam perspiciatis veniam ab reprehenderit fugit necessitatibus.
        </article>
        <article>
            <img src="img2.png" alt="face" class="face2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem excepturi dolores ab totam, iusto error veniam deserunt, modi libero autem voluptas vel numquam, soluta porro non ex asperiores. Facilis voluptate, est numquam placeat vero ullam repudiandae ratione quo explicabo aperiam veniam accusantium corporis ducimus, debitis non quaerat illo doloremque animi ad nostrum error dolorum esse aliquid cum? In ducimus minus quam non libero, sequi repellendus deserunt ipsa debitis, cumque doloribus eveniet dolor aspernatur placeat mollitia, voluptate voluptatum dolorem consectetur commodi similique explicabo asperiores. Veritatis harum nihil explicabo cum quis. Perspiciatis, autem qui aut magnam consequatur blanditiis aliquid suscipit quas tempore.
        </article>
    </section>
    <footer id="foot">
        <p>Paweł Paczkowski</p>
    </footer>
</main>
</html>